#qwerty1{
margin-left:80px;
width:600px
}
#heading{
margin-left:650px;
font-size:20px
}
#qwerty2{
margin-left:85px;
height:450px;
}
body{
background-color:skyblue;
}
#qwerty3{
margin-left:80px;
height:450px
}